.container {
    display: flex;
    flex-direction: column;
    height: 100vh;
}

.logoSection {
    flex-grow: 2;
    display: flex;
    justify-content: center;
    align-items: center;
}

.logo {
    font-size: 50px;
    color: #009688;
}

.authButtonSection {
    flex-grow: 1;
    display: flex;
    justify-content: center;
    align-items: center;
}