div {
    box-sizing: border-box;
}
.container {
    flex-grow: 1;
    overflow-y: scroll;
    display: flex;
    flex-direction: column;
    /* border: 1px solid rgb(29, 4, 97); */
}

.chats {
    flex-grow: 1;
    overflow-y: scroll;
}
.bubble {
    max-width: 90%;
    margin: auto;
    background-color: #f9f9f9;
    margin-top: 10px;
    /* box-shadow: 2px 2px 5px #00000009; */
}
    .text {
        color: #444;
        padding: 10px;
        padding-bottom: 0;
    }
    .info {
        display: flex;
        padding: 10px;
        padding-top: 0px;

        justify-content: flex-end;
    }
        .time {
            color: #ccc;
            font-size: 11px;
        }

.footer {
    display: flex;
    padding: 10px;
    align-items: flex-end;
    justify-content: space-between;
}
    .inputs {
        flex-grow: 1;
        display: flex;
        align-items: flex-end;
        border: 1px solid #ddd;
        border-radius: 20px;
        padding: 3px 0;
        margin-right: 10px;
    }
    .icons {
        padding: 5px;
    }
    .input {
            flex-grow: 1;
            outline: none;
            border: none;
            resize: none;
            font-size: 16px;
            margin-bottom: 5px;
        }
    .send {
        
    }