.tabs {
    display: flex;
    position: relative;
    background-color: #009688;
    box-shadow: 0px 15px 20px -15px rgba(0, 0, 0, 0.4);
    /* box-shadow: 0px 15px 10px -15px #aaa; */
}

.tab {
    box-sizing: border-box;
    flex-grow: 1;
    text-align: center;
    padding: 15px 0px;
    color: #fff9;
    font-weight: 500;
}

.active {
    color: #fff;
}

.slider {
    height: 3px;
    background-color: #fff;
    position:absolute;
    bottom: 0;
    transition: left .3s ease;
}