.item {
    display: flex;
    align-items: center;
    border-bottom: 1px solid #00968811;
    margin: 0 20px;
    padding: 10px 0;
}

.image_box {
    width: 60px;
    height: 60px;
    border-radius: 50%;
    background-color: rgba(173, 173, 173, 0.24);
    overflow: hidden;
}

.image {
    width: 60px
}
.name {
    flex-grow: 1;
    margin: 0 10px;
    font-size: 20px;
    margin-bottom: 5px;
    color: #444;
}

.addButton {
    border: none;
    outline: none;
    padding: 4px 8px;
    font-size: 14px;
    background-color: #009688;
    border-radius: 5px;
    color: #f2f2f2;
}

