.groups_view {
    flex-grow: 1;
    overflow-y: scroll;
}

.add_button {
    position: fixed;
    bottom: 30px;
    right: 30px;
    box-shadow: 5px 10px 20px -5px rgb(0, 0, 0, .7);
    border-radius: 50%;
    background-color: white;
    transition: all .15s ease;
}

.add_button:active {
    transform: scale(.99) translateY(1px);
    box-shadow: 5px 10px 20px -6.5px rgb(0, 0, 0, .7);
}